/* ========Reset CSS======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== General Styling ======== */

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #151515;
  color: #fff;
  min-width: 1250px;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  transition: padding 2s ease;
}

ul li a:hover {
  padding-left: 1.5rem;
}

/* ======== Header Styling Starts ======== */

.header {
  padding: 0 4rem 2rem 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 5rem;
}

.header-text-container {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heading {
  font-size: 5rem;
}

.name {
  padding-top: 2rem;
}

.medium-text {
  font-size: 1.1rem;
  font-weight: normal;
}

.underline {
  border-bottom: 3px solid #49c293;
}

.icons {
  position: absolute;
  top: 2rem;
  right: 8rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  z-index: 999;
  font-size: 1.5rem;
}

.fa-brands:hover {
  cursor: pointer;
  color: #49c293;
}

button {
  padding: 0.5rem 0.5rem 0 0.5rem;
  transition: transform 1s ease;
  color: #eee;
  background: transparent;
  border: none;
  border-bottom: 2px solid #49c293;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

button:hover {
  cursor: pointer;
  color: #49c293;
  background: transparent;
  font-size: 2rem;
  padding-top: 30px;
}

.profile-img {
  position: relative;
  width: 450px;
  height: 720px;
}

/* ======== Header Styling Ends ======== */

/*=========== Main Styling Starts ======*/

.main {
  font-family: 'Space Grotesk', sans-serif;
  padding: 0 4rem 2rem 4rem;
}

.cv-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 3rem 0;
  margin-bottom: 5rem;
  border-top: 2px solid #ccc;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills {
  font-size: 2.5rem;
}

.project-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-heading h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4rem;
}

.project-content {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  gap: 3rem;
}

.project-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-content-link ul {
  display: flex;
  gap: 1rem;
}

.project-content-link ul li a {
  color: #bbb;
}

.project {
  display: grid;
  grid-column: 2fr auto;
}

.project-content-img {
  position: relative;
  display: inline-block;
  cursor: pointer;
  flex: 3;
}

.project-content-img:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-link {
  color: #555;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.img-link ul {
  display: grid;
  gap: 2rem;
}

.img-link a {
  color: #fff;
  border-bottom: 2px solid #49c293;
}

.img-link a:hover {
  color: #49c293;
}

.project-content-img:hover .img-link {
  visibility: visible; /* Show the text when hovering over the container */
  opacity: 1; /* Make the text fully opaque on hover */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  opacity: 0; /* Initially invisible */
  transition: opacity 2s ease; /* Smooth transition for the hover effect */
}

.project-content-img:hover .image-overlay {
  opacity: 1;
}

.project-code ul {
  display: flex;
  gap: 1rem;
}

.project-code ul li {
  display: flex;
  gap: 1rem;
  display: none;
}

.project-img {
  width: 100%;
}

.project-img:hover {
  cursor: pointer;
}
/*=========== Main Styling Ends======*/

/*========= footer Styling Starts ======*/

.footer {
  background: #242424;
  padding: 4rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 2rem 0;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact-text > h2 {
  font-size: 4rem;
}

.contact-text > p {
  color: #bbb;
}

.info {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  color: #fff;
  padding: 1rem;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}

input::placeholder,
textarea::placeholder {
  color: #555;
}

input:not(:focus) {
  border-bottom: 1px solid #eee;
}

input:valid {
  border-bottom-color: green;
}

form > button {
  padding: 0.5rem;
  color: #eee;
  background: transparent;
  border: none;
  border-bottom: 2px solid #49c293;
  float: right;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
  padding: 3rem 0;
  border-top: 2px solid #ccc;
}

.footer-name {
  font-size: 1.5em;
}

.footer-name:hover {
  cursor: pointer;
}

.footer-icon {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

/* ========MEDIA QUERY FOR MOBILE STARTS========= */

@media screen and (max-width: 767px) {
  .header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 1rem;
  }
  .header-text-container {
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
    margin-top: 5rem;
    gap: 10rem;
  }
  .header-img-container {
    grid-row: 1/2;
    justify-self: center;
  }
  .name {
    display: none;
  }

  .cv-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    border-bottom: 2px solid #ccc;
  }

  .project-content {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 5rem;
  }

  .project-code ul li {
    display: flex;
    border-bottom: 2px solid #49c293;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 2rem;
  }

  .icons {
    position: absolute;
    top: 2rem;
    left: 30rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    z-index: 999;
    font-size: 1.5rem;
  }

  .project-content-img:hover .img-link {
    visibility: hidden; /* Show the text when hovering over the container */
    opacity: 1; /* Make the text fully opaque on hover */
  }
}
/* ========MEDIA QUERY FOR MOBILE ENDS========= */

/* ========MEDIA QUERY FOR TABLETS STARTS========= */

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 800px;
    justify-content: center;
  }
  .profile-img {
    width: 322px;
    height: 600px;
  }

  .heading {
    font-size: 3rem;
  }

  .medium-text {
    font-size: 1rem;
    font-weight: normal;
  }

  .cv-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 3rem 0;
  }

  .project-content {
    grid-template-columns: repeat(2, auto);
    gap: 3rem;
    justify-content: center;
  }

  .project-img {
    width: 345px;
    height: 253px;
  }

  .project-code ul li {
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid #49c293;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .project-content-img:hover .img-link {
    visibility: hidden; /* Show the text when hovering over the container */
    opacity: 1; /* Make the text fully opaque on hover */
  }
}

/* ========MEDIA QUERY FOR MOBILE ENDS========= */
